<html>
    <head>
      <title>Meeting Details - ${rowData.mom_id}</title>
      <style>
        body { font-family: Arial, sans-serif; }
        .parts { display: flex; justify-content: space-between;}
        .content { padding: 20px; }
        .section { margin-bottom: 20px; }
        .section-title { font-size: 1.2em; font-weight: bold; }
        .section-content { margin-top: 10px; }
      </style>
    </head>
    <body>
      <div class="content">
        <div class="parts">
        <div class="section">
          <div class="section-title">Meeting Details</div>
          <div class="section-content">
            <p><strong>Location:</strong> ${rowData.location}</p>
            <p><strong>Date:</strong> ${formatDate(rowData.meetingdate)}</p>
          </div>
        </div>
        <div class="section">
          <div class="section-title">Attendees</div>
          <div class="section-content">
            <p><strong>Client:</strong> ${rowData.attendees.client_name || '-'}</p>
            <p><strong>Organizer:</strong> ${rowData.attendees.organisor || '-'}</p>
            <p><strong>Designer:</strong> ${rowData.attendees.designer || '-'}</p>
            <p><strong>Others:</strong> ${rowData.attendees.attendees || '-'}</p>
          </div>
        </div>
    </div>
        <div class="section">
          <div class="section-title">Remarks</div>
          <div class="section-content">${rowData.remark || 'No remarks'}</div>
        </div>
        <div class="section">
          <div class="section-title">Files</div>
          <div class="section-content">
            ${files.length > 0
              ? files.map(
                  (file) => `<a href="${file.fileUrl}" target="_blank">${file.fileName}</a><br/>`
                ).join('')
              : 'No files attached'}
          </div>
        </div>
      </div>
    </body>
    </html>